/* .p-10 {
    font-size: 10px;
} */
a{
    color: black;
}

a:active{
    color: #6610f2
}

a[tabindex]:focus {
    color:#6f42c1;
    outline: none;
}

a:hover{
    color: #6f42c1;
}

.no-link{
    text-decoration: none;
}
