html {
    scroll-behavior: smooth;
    scroll-padding-top: 66.73px; /* to check navbar height use developer tools of google */
}

body {
    margin: 0 auto;
    background-color: #e4e2fc;
    font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e1e;
}

body::-webkit-scrollbar-thumb {
    background: #55535e;
}

.active {
    text-decoration: underline !important;
}

.bg-1 {
    background-color: #d3d0fb !important;
}

.title {
    font-size: 3em !important;
}

.sub-title {
    font-size: 1.875em !important;
}

.p-10 {
    font-size: 10px !important;
}

.p-18 {
    font-size: 18px !important;
}

.min-vh-92 {
    min-height: 92vh !important;
}

.sub-logo {
    width: 3rem !important;
}
